<% posts.forEach(function(post, index){ %>
			<div style=border-style:dotted>
				<h2><a href="index.html"><%= post.title %></a>
					<div style="float:right;font-size:14px;"><%= post.liuyanCount %>&nbsp;</div>		
				</h2> 
				<p class="post-info">分类:<a href="index.html"><%= post.type %></a>&nbsp;/&nbsp;标签:<%= post.biaoqian %></p>				
				<p style="margin-top:-17px;"><%= post.content %></p>
				<div style="text-align:right"><%= post.time %>&nbsp;&nbsp;&nbsp;
					<a href="javascript:;" onclick="getDetail('<%= post.id %>')" style="color:#666666;">阅读全文</a>&nbsp;&nbsp;&nbsp;
				</div>
				<br/>
			</div>	
			<br><br>
<% }) %>
